# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
.derived/
build/
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Secrets
Config/Secrets.xcconfig

# macOS
.DS_Store

# Swift Package Manager
.build/
.swiftpm/

# Supabase
supabase/.temp/
